/* .navbar{
    background-color: #D6D6CA;
} */
#offcanvasNavbar-expand-md {
    background-color: #D6D6CA;
}

.navbar .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 5px; /* Adjusts the distance of the underline from the text */
    text-decoration-thickness: 2px; /* Sets the thickness of the underline */
  }

  .navbar .dropdown-toggle.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }

  .navbar .nav-link:not(.active):hover {
    text-decoration: none;
  }